body{
    font-family: sans-serif;
    background-color: #f0f8ff;
}

.title{
    width: 80;
    text-align: center;
    margin: auto;
    color: #008000;
    font-size: 2em;
}
/*-------------------- WHOLE PAGE DIV ------------------------*/
.mainPageContainer{
    margin-top: 185px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*------------------------ IMG DIV ---------------------------*/
.imgContainer{
    width: 50%;
}
/*------------------------------------------------------------*/

/*------------------------ LOGIN DIV -------------------------*/
.container{
    width: 20%;
    border: 1px black solid;
    background-color: #faebd7;
    border-radius: 20px;
    height: 400px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

/*---------------------- WELCOME DIV -------------------------*/
.welcome{
    margin-top: 30px;
    font-weight: bold;
    font-size: 2em;
}

p{
    text-align: center;
}
/*------------------------------------------------------------*/

/*------------------------ LOGIN DIV -------------------------*/
.loginDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------------ INPUT DIV -------------------------*/
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emailValidate{
    font-size: 0.85em;
    font-weight: normal;
    color: red;
    visibility: hidden;
}

#passValidate{
    font-size: 0.85em;
    font-weight: normal;
    color: red;
    visibility: hidden;
}
/*------------------------------------------------------------*/

/*------------------------ BUTTON DIV ------------------------*/
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
}

.btn{
    width: 90px;
    height: 50px;
    background-color: #00bcc9;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    margin: auto;
}

.btn:hover{
    background-color: #008b8b;
    cursor: pointer;
}

#loginBtn{
    width: 90px;
    height: 50px;
    background-color: #00bcc9;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

#loginBtn:hover{
    background-color: #008b8b;
    cursor: pointer;
}

.signUpLink{
    margin-top: 20px;
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
